selector {

    /* Units */
    width: 50%; /* in percent */
    font-size: 2em; /* times current font-size */
    width: 200px; /* in pixels */
    font-size: 20pt; /* in points */
    width: 5cm; /* in centimeters */
    min-width: 50mm; /* in millimeters */
    max-width: 5in; /* in inches. max-(width|height) */
    height: 0.2vh; /* times vertical height of browser viewport (CSS3) */
    width: 0.4vw; /* times horizontal width of browser viewport (CSS3) */
    min-height: 0.1vmin; /* the lesser of vertical, horizontal dimensions of browser viewport (CSS3) */
    max-width: 0.3vmax; /* same as above, except the greater of the dimensions (CSS3) */

    /* Colors */
    background-color: #F6E;  /* in short hex */
    background-color: #F262E2; /* in long hex format */
    background-color: tomato; /* can be a named color */
    background-color: rgb(255, 255, 255); /* in rgb */
    background-color: rgb(10%, 20%, 50%); /* in rgb percent */
    background-color: rgba(255, 0, 0, 0.3); /* in semi-transparent rgb (CSS3) */
    background-color: transparent; /* see thru */
    background-color: hsl(0, 100%, 50%); /* hsl format (CSS3). */
    background-color: hsla(0, 100%, 50%, 0.3); /* Similar to RGBA, specify opacity at end (CSS3) */


    /* Images */
    background-image: url(/path-to-image/image.jpg); /* quotes inside url() optional */

    /* Fonts */
    font-family: Arial;
    font-family: "Courier New"; /* if name has space it appears in single or double quotes */
    font-family: "Courier New", Trebuchet, Arial, sans-serif; /* if first one was not found
  
